In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv('pumps_all_02.csv')

In [7]:
df.dtypes

id                         int64
status_group              object
amount_tsh               float64
date_recorded             object
actually_date             object
count_month                int64
funder                    object
gps_height                 int64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private                int64
basin                     object
subvillage                object
region                    object
region_code                int64
district_code              int64
lga                       object
ward                      object
population                 int64
public_meeting            object
recorded_by               object
scheme_management         object
scheme_name               object
permit                    object
construction_year        float64
actuall_year             float64
count_year                 int64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
dtype: object

In [8]:
df.columns

Index(['id', 'status_group', 'amount_tsh', 'date_recorded', 'actually_date',
       'count_month', 'funder', 'gps_height', 'installer', 'longitude',
       'latitude', 'wpt_name', 'num_private', 'basin', 'subvillage', 'region',
       'region_code', 'district_code', 'lga', 'ward', 'population',
       'public_meeting', 'recorded_by', 'scheme_management', 'scheme_name',
       'permit', 'construction_year', 'actuall_year', 'count_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

In [10]:
df_selected_columns = df.loc[:,['status_group', 
                                'amount_tsh',
                                'count_month', 
                                'funder', 
                                'gps_height', 
                                'installer', 
                                'basin',
                                'public_meeting',
                                'scheme_name', 
                                'permit', 
                                'construction_year',
                                'extraction_type_class', 
                                'management', 
                                'payment',
                                'quality_group', 
                                'quantity', 
                                'source', 
                                'source_class']]

In [11]:
df_selected_columns.dtypes

status_group              object
amount_tsh               float64
count_month                int64
funder                    object
gps_height                 int64
installer                 object
basin                     object
public_meeting            object
scheme_name               object
permit                    object
construction_year        float64
extraction_type_class     object
management                object
payment                   object
quality_group             object
quantity                  object
source                    object
source_class              object
dtype: object

In [13]:
 df_selected_columns.to_csv('selected_columns.csv')

In [14]:
status_group_replace = {'predicted label':3, 'functional':2, 'functional needs repair':1,
                   'non functional':0}

df_selected_columns['status_group'] = df_selected_columns.status_group.replace(status_group_replace)
df_selected_columns['status_group']

0        2
1        2
2        2
3        0
4        2
5        2
6        0
7        0
8        0
9        2
10       2
11       2
12       2
13       2
14       2
15       2
16       0
17       0
18       1
19       2
20       2
21       2
22       1
23       2
24       2
25       1
26       2
27       2
28       0
29       2
        ..
74220    3
74221    3
74222    3
74223    3
74224    3
74225    3
74226    3
74227    3
74228    3
74229    3
74230    3
74231    3
74232    3
74233    3
74234    3
74235    3
74236    3
74237    3
74238    3
74239    3
74240    3
74241    3
74242    3
74243    3
74244    3
74245    3
74246    3
74247    3
74248    3
74249    3
Name: status_group, Length: 74250, dtype: int64

In [15]:
df_selected_columns['funder'].value_counts().head(10)

Government Of Tanzania    11299
Danida                     3907
Hesawa                     2782
Rwssp                      1703
World Bank                 1701
Kkkt                       1623
World Vision               1562
Unicef                     1324
Tasaf                      1136
Dhv                        1065
Name: funder, dtype: int64

In [16]:
def funder_categorize(row):  
    '''Keep top 10 values and set the rest to 'other'''

    if row['funder']=='Government Of Tanzania':
        return 'gov'
    elif row['funder']=='Danida':
        return 'danida'
    elif row['funder']=='Hesawa':
        return 'hesawa'
    elif row['funder']=='Rwssp':
        return 'rwssp'
    elif row['funder']=='World Bank':
        return 'world_bank'
    elif row['funder']== 'Kkkt':
        return 'kkkt'
    elif row['funder']=='World Vision':
        return 'world vision'
    elif row['funder']== 'Unicef':
        return 'unicef'
    elif row['funder']=='Tasaf':
        return 'tasaf'
    elif row['funder']=='Dhv':
        return'dhv'
    else:
        return 'other'
    
df_selected_columns['funder'] = df_selected_columns.apply(lambda row: funder_categorize(row), axis=1)

In [18]:
df_selected_columns['funder'].value_counts()

other           46148
gov             11299
danida           3907
hesawa           2782
rwssp            1703
world_bank       1701
kkkt             1623
world vision     1562
unicef           1324
tasaf            1136
dhv              1065
Name: funder, dtype: int64

In [19]:
df_selected_columns['installer'].value_counts().head(10)

DWE           21751
Government     2282
RWE            1498
Commu          1347
DANIDA         1305
KKKT           1120
Hesawa         1070
0               980
TCRS            887
CES             765
Name: installer, dtype: int64

In [20]:
def installer_categorize(row):  
    '''Keep top 10 values and set the rest to 'other'''

    if row['installer']=='DWE':
        return 'dwe'
    elif row['installer']=='Government':
        return 'gov'
    elif row['installer']=='RWE':
        return 'rwe'
    elif row['installer']=='Commu':
        return 'commu'
    elif row['installer']=='DANIDA':
        return 'danida'
    elif row['installer']== 'KKKT':
        return 'kkkt'
    elif row['installer']=='Hesawa':
        return 'hesawa'
    elif row['installer']== 'TCRS':
        return 'tcrs'
    elif row['installer']=='CES':
        return 'ces'
    else:
        return 'other'
    
df_selected_columns['installer'] = df_selected_columns.apply(lambda row: installer_categorize(row), axis=1)
df_selected_columns['installer'].value_counts()

other     42225
dwe       21751
gov        2282
rwe        1498
commu      1347
danida     1305
kkkt       1120
hesawa     1070
tcrs        887
ces         765
Name: installer, dtype: int64

In [23]:
df_selected_columns['basin'].value_counts()

Lake Victoria              12871
Pangani                    11143
Rufiji                      9987
Internal                    9642
Lake Tanganyika             8052
Wami / Ruvu                 7577
Lake Nyasa                  6332
Ruvuma / Southern Coast     5587
Lake Rukwa                  3059
Name: basin, dtype: int64

In [24]:
df_selected_columns['scheme_name'].value_counts().head(10)

K                              858
None                           794
Borehole                       704
Chalinze wate                  501
M                              490
DANIDA                         483
Government                     395
Ngana water supplied scheme    335
wanging'ombe water supply s    323
Bagamoyo wate                  296
Name: scheme_name, dtype: int64

In [25]:
def scheme_name_categorize(row):  
    '''Keep top 10 values and set the rest to 'other'''

    if row['scheme_name']=='K':
        return 'k'
    elif row['scheme_name']=='Borehole':
        return 'barehole'
    elif row['scheme_name']=='Chalinze wate':
        return 'chalinze'
    elif row['scheme_name']=='M':
        return 'm'
    elif row['scheme_name']=='DANIDA':
        return 'danida'
    elif row['scheme_name']== 'Government':
        return 'gov'
    elif row['scheme_name']=='Ngana water supplied scheme':
        return 'ngana'
    elif row['scheme_name']== "wanging'ombe water supply s":
        return 'wanging'
    elif row['scheme_name']=='Bagamoyo wate':
        return 'bagamoyo'
    else:
        return 'other'
    
df_selected_columns['scheme_name'] = df_selected_columns.apply(lambda row: scheme_name_categorize(row), axis=1)
df_selected_columns['scheme_name'].value_counts()

other       69865
k             858
barehole      704
chalinze      501
m             490
danida        483
gov           395
ngana         335
wanging       323
bagamoyo      296
Name: scheme_name, dtype: int64

In [26]:
df_selected_columns = df_selected_columns.drop(columns=['scheme_name'])

In [27]:
df_selected_columns.columns

Index(['status_group', 'amount_tsh', 'count_month', 'funder', 'gps_height',
       'installer', 'basin', 'public_meeting', 'permit', 'construction_year',
       'extraction_type_class', 'management', 'payment', 'quality_group',
       'quantity', 'source', 'source_class'],
      dtype='object')

In [30]:
df_selected_columns['extraction_type_class'].value_counts()

gravity         33263
handpump        20612
other            8102
submersible      7772
motorpump        3777
rope pump         572
wind-powered      152
Name: extraction_type_class, dtype: int64

In [28]:
df_selected_columns['management'].value_counts()

vwc                 50624
wug                  8108
water board          3688
wua                  3118
private operator     2504
parastatal           2229
water authority      1123
other                1083
company               859
unknown               683
other - school        126
trust                 105
Name: management, dtype: int64

In [29]:
def management_categorize(row):  
    '''Keep top 10 values and set the rest to 'other'''

    if row['management']=='other':
        return 'other'
    elif row['management']=='unknown':
        return 'other'
  
    else:
        return row['management']
    
df_selected_columns['management'] = df_selected_columns.apply(lambda row: management_categorize(row), axis=1)
df_selected_columns['management'].value_counts()

vwc                 50624
wug                  8108
water board          3688
wua                  3118
private operator     2504
parastatal           2229
other                1766
water authority      1123
company               859
other - school        126
trust                 105
Name: management, dtype: int64

In [31]:
df_selected_columns['payment'].value_counts()

never pay                31712
pay per bucket           11266
pay monthly              10397
unknown                  10149
pay when scheme fails     4842
pay annually              4570
other                     1314
Name: payment, dtype: int64

In [32]:
def payment_categorize(row):  
    '''Keep top 10 values and set the rest to 'other'''

    if row['payment']=='other':
        return 'other'
    elif row['payment']=='unknown':
        return 'other'
  
    else:
        return row['payment']
    
df_selected_columns['payment'] = df_selected_columns.apply(lambda row: payment_categorize(row), axis=1)
df_selected_columns['payment'].value_counts()

never pay                31712
other                    11463
pay per bucket           11266
pay monthly              10397
pay when scheme fails     4842
pay annually              4570
Name: payment, dtype: int64

In [33]:
df_selected_columns['quantity'].value_counts()

enough          41522
insufficient    18896
dry              7782
seasonal         5075
unknown           975
Name: quantity, dtype: int64

In [34]:
df_selected_columns['source'].value_counts()

spring                  21216
shallow well            21140
machine dbh             13822
river                   11964
rainwater harvesting     2863
hand dtw                 1108
lake                      950
dam                       840
other                     261
unknown                    86
Name: source, dtype: int64

In [35]:
def source_categorize(row):  
    '''Keep top 10 values and set the rest to 'other'''

    if row['source']=='other':
        return 'other'
    elif row['source']=='unknown':
        return 'other'
  
    else:
        return row['source']
    
df_selected_columns['source'] = df_selected_columns.apply(lambda row: source_categorize(row), axis=1)
df_selected_columns['source'].value_counts()

spring                  21216
shallow well            21140
machine dbh             13822
river                   11964
rainwater harvesting     2863
hand dtw                 1108
lake                      950
dam                       840
other                     347
Name: source, dtype: int64

In [38]:
df_selected_columns['source_class'].value_counts()

groundwater    57286
surface        16617
unknown          347
Name: source_class, dtype: int64

In [39]:
df_selected_columns.apply(lambda x: sum(x.isnull()))

status_group                 0
amount_tsh               22586
count_month                  0
funder                       0
gps_height                   0
installer                    0
basin                        0
public_meeting            4155
permit                    3793
construction_year        25969
extraction_type_class        0
management                   0
payment                      0
quality_group                0
quantity                     0
source                       0
source_class                 0
dtype: int64

In [40]:
df_selected_columns['permit']=df_selected_columns['permit'].fillna('Unknown')
df_selected_columns['permit'].value_counts()

True       48606
False      21851
Unknown     3793
Name: permit, dtype: int64

In [41]:
df_selected_columns['public_meeting']=df_selected_columns['public_meeting'].fillna('Unknown')
df_selected_columns['public_meeting'].value_counts()

True       63749
False       6346
Unknown     4155
Name: public_meeting, dtype: int64

In [42]:
df_selected_columns.apply(lambda x: sum(x.isnull()))

status_group                 0
amount_tsh               22586
count_month                  0
funder                       0
gps_height                   0
installer                    0
basin                        0
public_meeting               0
permit                       0
construction_year        25969
extraction_type_class        0
management                   0
payment                      0
quality_group                0
quantity                     0
source                       0
source_class                 0
dtype: int64

In [52]:
view = df_selected_columns[['status_group_02', 'amount_tsh']]
view[view['status_group_02'] == 0]

       status_group_02  amount_tsh
3                    0         0.0
6                    0         0.0
7                    0         0.0
8                    0         0.0
16                   0       500.0
17                   0         0.0
28                   0         0.0
35                   0         0.0
36                   0         0.0
39                   0         0.0
43                   0         0.0
45                   0         0.0
51                   0         0.0
53                   0         0.0
54                   0         0.0
55                   0        20.0
57                   0         0.0
61                   0         0.0
63                   0         0.0
65                   0         0.0
67                   0         0.0
68                   0         0.0
69                   0         0.0
70                   0       200.0
71                   0         0.0
72                   0         0.0
73                   0         0.0
75                   0         0.0
78                   0         0.0
84                   0         0.0
...                ...         ...
59312                0         0.0
59313                0       200.0
59320                0        70.0
59327                0       300.0
59329                0         0.0
59335                0         0.0
59336                0       100.0
59337                0       600.0
59340                0         0.0
59341                0         0.0
59343                0         0.0
59347                0         0.0
59349                0         0.0
59350                0         0.0
59352                0         0.0
59354                0         0.0
59355                0         0.0
59357                0         0.0
59361                0         0.0
59371                0         0.0
59372                0         0.0
59376                0         0.0
59377                0         0.0
59380                0      6000.0
59381                0         0.0
59382                0         6.0
59384                0         0.0
59391                0         0.0
59392                0         0.0
59394                0       500.0

[23018 rows x 2 columns]

In [43]:
df_selected_columns['amount_tsh'].hasnans

True

In [44]:
df_selected_columns['amount_tsh'].replace(0, np.nan, inplace = True)

In [60]:
df_selected_columns['amount_tsh'].value_counts()

500.0       3874
50.0        3103
1000.0      1858
20.0        1812
200.0       1516
100.0       1034
10.0         995
30.0         929
2000.0       882
250.0        731
300.0        688
5000.0       559
5.0          471
25.0         445
3000.0       425
1200.0       322
1500.0       244
6.0          231
600.0        219
4000.0       195
2400.0       186
2500.0       169
6000.0       150
8000.0        87
7.0           87
10000.0       74
40.0          74
750.0         71
12000.0       64
450.0         59
            ...
16300.0        2
26000.0        2
60000.0        2
16000.0        2
200000.0       2
800.0          2
520.0          2
4500.0         2
70000.0        2
0.5            1
8500.0         1
6300.0         1
38000.0        1
170000.0       1
26.0           1
53.0           1
9.0            1
3.0            1
350000.0       1
1400.0         1
120000.0       1
900.0          1
138000.0       1
250000.0       1
306.0          1
5400.0         1
59.0           1
12.0           1
220.0          1
2550.0         1
Name: amount_tsh, Length: 100, dtype: int64

In [45]:
df_selected_columns['amount_tsh'].fillna(df_selected_columns['amount_tsh'].median(), inplace = True)

In [46]:
df_selected_columns['amount_tsh'].hasnans

False

In [47]:
df_selected_columns['amount_tsh'].value_counts()

250.0       52781
500.0        3874
50.0         3103
1000.0       1858
20.0         1812
200.0        1516
100.0        1034
10.0          995
30.0          929
2000.0        882
300.0         688
5000.0        559
5.0           471
25.0          445
3000.0        425
1200.0        322
1500.0        244
6.0           231
600.0         219
4000.0        195
2400.0        186
2500.0        169
6000.0        150
7.0            87
8000.0         87
10000.0        74
40.0           74
750.0          71
12000.0        64
450.0          59
            ...
16300.0         2
26000.0         2
60000.0         2
16000.0         2
200000.0        2
800.0           2
520.0           2
4500.0          2
70000.0         2
0.5             1
8500.0          1
6300.0          1
38000.0         1
170000.0        1
26.0            1
53.0            1
9.0             1
3.0             1
350000.0        1
1400.0          1
120000.0        1
900.0           1
138000.0        1
250000.0        1
306.0           1
5400.0          1
59.0            1
12.0            1
220.0           1
2550.0          1
Name: amount_tsh, Length: 100, dtype: int64

In [48]:
df_selected_columns['gps_height'].hasnans

False

In [49]:
df_selected_columns['gps_height'].replace(0, np.nan, inplace = True)

In [50]:
df_selected_columns['gps_height'].hasnans

True

In [53]:
df_selected_columns['gps_height'].fillna(df_selected_columns['gps_height'].median(), inplace = True)

In [54]:
df_selected_columns['gps_height'].hasnans

False

In [55]:
df_selected_columns['count_month'].hasnans

False

In [77]:
df_selected_columns.count_month.value_counts()

57     14074
80     11189
79     10568
75      8637
56      8202
60      5110
55      4527
76      3065
61      2663
58      1062
78       871
74       681
54       365
52       344
47       341
53       329
50       287
48       280
59       261
49       246
81       232
51       206
72       144
77       132
82       130
73       130
71       129
155       16
164        6
166        4
162        3
158        3
161        3
159        2
163        2
69         2
160        1
165        1
199        1
181        1
Name: count_month, dtype: int64

In [56]:
def count_month_categorize(row):  
    '''Keep top 10 values and set the rest to 'other'''

    if row['count_month'] in range(0, 21):
        return 1
    elif row['count_month']in range(21, 41):
        return 2
    elif row['count_month']in range(41, 61):
        return 3
    elif row['count_month']in range(61, 81):
        return 4
    elif row['count_month']in range(81, 101):
        return 5
    elif row['count_month']in range(101, 121):
        return 6
    elif row['count_month']in range(121, 141):
        return 7
    elif row['count_month']in range(141, 161):
        return 8
    elif row['count_month']in range(161, 181):
        return 9
    elif row['count_month']in range(181, 201):
        return 10
    else:
        return 11
    
df_selected_columns['count_month'] = df_selected_columns.apply(lambda row: count_month_categorize(row), axis=1)

In [57]:
df_selected_columns.count_month.value_counts()

4     38211
3     35634
5       362
8        22
9        19
10        2
Name: count_month, dtype: int64

In [58]:
df_selected_columns['construction_year'].hasnans

True

In [59]:
df_selected_columns['missing_construction_year'] = df_selected_columns['construction_year'].apply(lambda x: np.isnan(x))

In [60]:
df_selected_columns['missing_construction_year']

0        False
1        False
2        False
3        False
4         True
5        False
6         True
7         True
8         True
9         True
10       False
11       False
12        True
13       False
14        True
15       False
16       False
17       False
18       False
19       False
20       False
21        True
22       False
23       False
24       False
25       False
26       False
27        True
28       False
29       False
         ...
74220    False
74221    False
74222    False
74223     True
74224    False
74225    False
74226     True
74227     True
74228     True
74229    False
74230    False
74231     True
74232    False
74233    False
74234     True
74235     True
74236    False
74237    False
74238    False
74239    False
74240    False
74241     True
74242    False
74243    False
74244     True
74245    False
74246    False
74247    False
74248    False
74249    False
Name: missing_construction_year, Length: 74250, dtype: bool

In [61]:
df_selected_columns['construction_year']

0        1999.0
1        2010.0
2        2009.0
3        1986.0
4           NaN
5        2009.0
6           NaN
7           NaN
8           NaN
9           NaN
10       2011.0
11       1987.0
12          NaN
13       2009.0
14          NaN
15       1991.0
16       1978.0
17       1978.0
18       1999.0
19       1992.0
20       2008.0
21          NaN
22       1978.0
23       2011.0
24       2009.0
25       1974.0
26       2011.0
27          NaN
28       2000.0
29       2002.0
          ...
74220    2001.0
74221    2007.0
74222    1997.0
74223       NaN
74224    2008.0
74225    1978.0
74226       NaN
74227       NaN
74228       NaN
74229    2005.0
74230    1996.0
74231       NaN
74232    2001.0
74233    2003.0
74234       NaN
74235       NaN
74236    2009.0
74237    2010.0
74238    1986.0
74239    2005.0
74240    2009.0
74241       NaN
74242    2009.0
74243    1995.0
74244       NaN
74245    1988.0
74246    1994.0
74247    2010.0
74248    2009.0
74249    2008.0
Name: construction_year, Length: 74250, dtype: float64

In [62]:
df_selected_columns.apply(lambda x: sum(x.isnull()))

status_group                     0
amount_tsh                       0
count_month                      0
funder                           0
gps_height                       0
installer                        0
basin                            0
public_meeting                   0
permit                           0
construction_year            25969
extraction_type_class            0
management                       0
payment                          0
quality_group                    0
quantity                         0
source                           0
source_class                     0
missing_construction_year        0
dtype: int64

In [63]:
df_selected_columns['construction_year'].fillna(df_selected_columns['construction_year'].median(), inplace = True)

In [92]:
df_selected_columns['construction_year']

0        1999.0
1        2010.0
2        2009.0
3        1986.0
4        2000.0
5        2009.0
6        2000.0
7        2000.0
8        2000.0
9        2000.0
10       2011.0
11       1987.0
12       2000.0
13       2009.0
14       2000.0
15       1991.0
16       1978.0
17       1978.0
18       1999.0
19       1992.0
20       2008.0
21       2000.0
22       1978.0
23       2011.0
24       2009.0
25       1974.0
26       2011.0
27       2000.0
28       2000.0
29       2002.0
          ...
74220    2001.0
74221    2007.0
74222    1997.0
74223    2000.0
74224    2008.0
74225    1978.0
74226    2000.0
74227    2000.0
74228    2000.0
74229    2005.0
74230    1996.0
74231    2000.0
74232    2001.0
74233    2003.0
74234    2000.0
74235    2000.0
74236    2009.0
74237    2010.0
74238    1986.0
74239    2005.0
74240    2009.0
74241    2000.0
74242    2009.0
74243    1995.0
74244    2000.0
74245    1988.0
74246    1994.0
74247    2010.0
74248    2009.0
74249    2008.0
Name: construction_year, Length: 74250, dtype: float64

In [64]:
df_selected_columns.apply(lambda x: sum(x.isnull()))

status_group                 0
amount_tsh                   0
count_month                  0
funder                       0
gps_height                   0
installer                    0
basin                        0
public_meeting               0
permit                       0
construction_year            0
extraction_type_class        0
management                   0
payment                      0
quality_group                0
quantity                     0
source                       0
source_class                 0
missing_construction_year    0
dtype: int64

In [65]:
 df_selected_columns.to_csv('clean_data.csv')